In [128]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

# File to Load 
school_data_to_load = Path("Resources/schools_complete.csv")
student_data_to_load = Path("Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

District Summary
necessary calculations:

Total number of unique schools
Total students
Total budget
Average math score
Average reading score
% passing math (the percentage of students who passed math)
% passing reading (the percentage of students who passed reading)
% overall passing (the percentage of students who passed math AND reading)
high-level snapshot of the district's key metrics in a DataFrame.

In [129]:
# Calculate the total number of unique schools
unique_school_list = school_data_complete["school_name"].unique()
school_count = len(unique_school_list)
school_count

15

In [114]:
# Calculate the total number of students
student_count = school_data_complete["student_name"].count()
student_count

39170

In [115]:
# Calculate the total budget
# for sum of all values in column "budget": total_budget = school_data_complete["budget"].sum()
# for sum of unique budget values:
total_budget_unique = school_data_complete["budget"].unique()
total_budget = total_budget_unique.sum()
total_budget

24649428

In [116]:
# Calculate the average (mean) math score
# with unique values
unique_average_math_score = school_data_complete["math_score"].unique()
unique_average_math_score = unique_average_math_score.mean()
unique_average_math_score
# with all values
average_math_score = school_data_complete["math_score"].mean()
average_math_score

78.98537145774827

In [117]:
# Calculate the average (mean) reading score

# with unique values
unique_average_reading_score = school_data_complete["reading_score"].unique()
unique_average_reading_score = unique_average_reading_score.mean()
unique_average_reading_score
# with all values
average_reading_score = school_data_complete["reading_score"].mean()
average_reading_score

81.87784018381414

In [118]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100
passing_math_percentage

74.9808526933878

In [119]:
# Calculate the percentage of students who passed reading (hint: look at how the math percentage was calculated)  
passing_reading_count = school_data_complete[(school_data_complete["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(student_count) * 100
passing_reading_percentage

85.80546336482001

In [120]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
overall_passing_rate

65.17232575950983

In [123]:
# Create a high-level snapshot of the district's key metrics in a DataFrame

dict = {'Total Schools': school_count, 'Total Students': student_count, 'Total Budget': total_budget, 'Average Math Score': average_math_score, 'Average Reading Score': average_reading_score, '% Passing Math': passing_math_percentage, '% Passing Reading': passing_reading_percentage, '% Overall Passing': overall_passing_rate} 
district_summary = pd.DataFrame(dict, index=([0]))

# Formatting
district_summary["Total Schools"] = district_summary["Total Schools"].map("{:,.1f}".format)
district_summary["Total Students"] = district_summary["Total Students"].map("${:,.2f}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.3f}".format)
district_summary["Average Math Score"] = district_summary["Average Math Score"].map("${:,.4f}".format)
district_summary["Average Reading Score"] = district_summary["Average Reading Score"].map("${:,.5f}".format)
district_summary["% Passing Math"] = district_summary["% Passing Math"].map("${:,.6f}".format)
district_summary["% Passing Reading"] = district_summary["% Passing Reading"].map("${:,.7f}".format)
district_summary["% Overall Passing"] = district_summary["% Overall Passing"].map("${:,.8f}".format)

# add title 'DISTRICT SUMMARY' to df
district_summary = district_summary.style.set_caption('DISTRICT SUMMARY')

# Display the DataFrame
district_summary

## School Summary

School Summary
necessary calculations:

School name
School type
Total students
Total school budget
Per student budget
Average math score
Average reading score
% passing math (the percentage of students who passed math)
% passing reading (the percentage of students who passed reading)
% overall passing (the percentage of students who passed math AND reading) 
DataFrame that summarizes key metrics about each school.

In [155]:
## THIS CELL IS FOR PERSONAL VALIDATION. WORK SHOWN FOR GRADER COMP. ##


# school name list calculated from "district summary" section with district_summary df
# unique_school_list = school_data_complete["school_name"].unique()
unique_school_list

# school name lost calculated for "school summary" section with school_data df
school_names = school_data["school_name"].unique()
school_names

# verify if unique_school_list == school_names... if true, can use school data in this context
if unique_school_list.all() == school_names.all():
    print('same')
    # output is "same"... can use either variable/calc for unique school names. will use original for brevity

same

In [153]:
# Display/calculate all unique school names
unique_school_list

array(['Huang High School', 'Figueroa High School', 'Shelton High School',
       'Hernandez High School', 'Griffin High School',
       'Wilson High School', 'Cabrera High School', 'Bailey High School',
       'Holden High School', 'Pena High School', 'Wright High School',
       'Rodriguez High School', 'Johnson High School', 'Ford High School',
       'Thomas High School'], dtype=object)

In [195]:
# Use the code provided to select all of the school types
school_types = school_data["type"].unique()
school_types

array(['District', 'Charter'], dtype=object)

In [143]:
# re-display district df (school_data_complete) for sake of user validation while coding
display(school_data_complete.head())
# display school data df (school_data) for sake of user validation while coding
school_data

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

    School ID            school_name      type  size   budget
0           0      Huang High School  District  2917  1910635
1           1   Figueroa High School  District  2949  1884411
2           2    Shelton High School   Charter  1761  1056600
3           3  Hernandez High School  District  4635  3022020
4           4    Griffin High School   Charter  1468   917500
5           5     Wilson High School   Charter  2283  1319574
6           6    Cabrera High School   Charter  1858  1081356
7           7     Bailey High School  District  4976  3124928
8           8     Holden High School   Charter   427   248087
9           9       Pena High School   Charter   962   585858
10         10     Wright High School   Charter  1800  1049400
11         11  Rodriguez High School  District  3999  2547363
12         12    Johnson High School  District  4761  3094650
13         13       Ford High School  District  2739  1763916
14         14     Thomas High School   Charter  1635  1043130

QUESTION FOR FOLLOWING CELL CALC: how to iterate over specific rows in dataframe and select value in corresponding column

# display for personal validation
#for index, row in school_data.iterrows():
    #print(row["school_name"], row["size"])
or

for index, row in school_data_complete.iterrows():
    if school_data_complete["school_name"] == school_data_complete["school_name"].unique():
        print(row["school_name"], row["size"])
or

for (school_name, school_data_complete["school_name"].unique()) in school_data_complete.iteritems():
    print('Column Name : ', school_name)
    print('Column Contents : ', size.values)

In [211]:
# Calculate the total student count per school
per_school_counts = school_data["size"].tolist()
per_school_counts

[2917,
 2949,
 1761,
 4635,
 1468,
 2283,
 1858,
 4976,
 427,
 962,
 1800,
 3999,
 4761,
 2739,
 1635]

In [228]:
# Calculate the total school budget and per capita spending per school
per_school_budget = []
per_school_budgetschool_data["budget"].tolist()
display(per_school_budget)

#create empty list
per_school_capita = []
# numeerator = per_school_budget
# denominator = per_school_counts
for i in range(len(per_school_budget)):
    per_school_capita.append(per_school_budget[i]/per_school_counts[i])

per_school_capita
#per_school_capita = per_school_budget/per_school_counts

SyntaxError: invalid syntax (4247889241.py, line 4)